{% extends 'padre.html' %}

{% block sidebar_content %}

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse border-end vh-100" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
        <div class="position-sticky pt-4">
            <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-white fw-bold">
                <span>Produccion</span>
            </h6>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% if '/ordenes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" aria-current="page" href="{% url 'App_LUMINOVA:produccion_principal' %}" style="border-radius: 25px;">
                         <span class="ms-2">Ordenes</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/planificacion/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:planificacion_produccion' %}" style="border-radius: 25px; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                         <span class="ms-2">Planificacion</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/reportes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:reportes_produccion' %}" style="border-radius: 25px;">
                         <span class="ms-2">Reportes</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>


{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo_seccion }}</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="align-middle color-thead">N° Orden</th>
                <th class="align-middle color-thead">Sector</th>
                <th class="align-middle color-thead">Fecha</th>
                <th class="align-middle color-thead">Tipo de problema</th>
                <th class="align-middle color-thead">Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for reporte in reportes %}
                <tr>

                    <td>{{ reporte.numero_orden }}</td>
                    <td>{{ reporte.sector }}</td>
                    <td>{{ reporte.fecha }}</td>
                    <td>{{ reporte.tipo_problema }}</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalReporte{{ reporte.id }}">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="modalReporte{{ reporte.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ reporte.descripcion }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}